UNKNOWN {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-SIZE: 11px; PADDING-BOTTOM: 2px; WIDTH: 100px; COLOR: #000000; PADDING-TOP: 2px; FONT-FAMILY: Verdana, Arial, Helvetica; BACKGROUND-COLOR: #ffffff
}
.pestana1inversores {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #ffffff; BACKGROUND-COLOR: #6699cc
}
A:hover {
	TEXT-DECORATION: underline
}
A {
	COLOR: #6699cc; TEXT-DECORATION: none
}
.a1 {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #ffffff; FONT-FAMILY: arial, verdana, sans-serif; TEXT-DECORATION: none
}
.a2 {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #6699cc; FONT-FAMILY: arial, verdana, sans-serif; TEXT-DECORATION: none
}
.a3 {
	FONT-WEIGHT: normal; FONT-SIZE: 13px; COLOR: #6699cc; FONT-FAMILY: arial, verdana, sans-serif; TEXT-DECORATION: none
}
.a4 {
	FONT-WEIGHT: normal; FONT-SIZE: 13px; COLOR: #ffffff; FONT-FAMILY: arial, verdana, sans-serif; TEXT-DECORATION: none
}
.a5 {
	FONT-WEIGHT: bold; FONT-SIZE: 36px; COLOR: #6699cc; FONT-FAMILY: arial, verdana, sans-serif; TEXT-DECORATION: none
}
.a6 {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #000000; FONT-FAMILY: arial, verdana, sans-serif; TEXT-DECORATION: none
}
.a7 {
	FONT-WEIGHT: bold; FONT-SIZE: 22px; COLOR: #6699cc; FONT-FAMILY: arial, verdana, sans-serif; TEXT-DECORATION: none
}
.a8 {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; COLOR: #000000; FONT-FAMILY: arial, verdana, sans-serif; TEXT-DECORATION: none
}
.a9 {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #6699cc; FONT-FAMILY: arial, verdana, sans-serif; TEXT-DECORATION: none
}
.a10 {
	FONT-WEIGHT: bold; FONT-SIZE: 22px; COLOR: #468b9b; FONT-FAMILY: arial, verdana, sans-serif; TEXT-DECORATION: none
}
.a11 {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #468b9b; FONT-FAMILY: arial, verdana, sans-serif; TEXT-DECORATION: none
}
.v1 {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: verdana, arial, sans-serif; TEXT-DECORATION: none
}
.v2 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: verdana, arial, sans-serif; TEXT-DECORATION: none
}
.v3 {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: verdana, arial, sans-serif; TEXT-ALIGN: justify
}
.v4 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: verdana, arial, sans-serif; TEXT-DECORATION: none
}
.v5 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: verdana, arial, sans-serif; TEXT-DECORATION: none
}
.v6 {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: verdana, arial, sans-serif; TEXT-DECORATION: none
}
.v7 {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #999999; FONT-FAMILY: verdana, arial, sans-serif; TEXT-DECORATION: none
}
.v8 {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: verdana, arial, sans-serif
}
